/.vscode
/desktop.ini
/Hansel_and_Gretel_-_Witch_Hunters_(2013)_BluRayExt_high_(fzmovies.net).mp4
/html
/Mavis Beacon Teaches Typing Platinum 20
/New Microsoft Word Document.docx
/Visual Studio Code.lnk
javascript/index.html
javascript/practice.js
javascript/test.js
